{% extends 'base.html.twig' %}
{% block main %}
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="row">
                        <div class="col-md-10 offset-md-1">
                            {% if error %}
                                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            <form action="{{ path('login') }}" method="post">
                                <label for="username">Username:</label>
                                <input type="text" id="username" name="_username" value="{{ last_username }}" />

                                <label for="password">Password:</label>
                                <input type="password" id="password" name="_password" />

                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                <button type="submit">login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}