{% extends 'base.html.twig' %}

{% block main %}
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="row">
                        <div class="col-md-10 offset-md-1">
                            <h1>{{ 'welcome_title'|trans|raw }}</h1>
                            <p class="lead">{{ 'welcome_text'|trans|raw }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}